/* (Mini) reset do Css do navegador para evitar conflito de estilos entre navegadores */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: initial;
    font-weight: 400;
    text-align: initial;
} */

.container{
    height: 310px;
    background-color: antiquewhite;
    border: 5px solid #fc0202;
    display: flex;
    border-radius: 10px;
}

.mini-container{
    height: 75px;
    width: 300px;
    background-color: antiquewhite;
    border: 5px solid #fc0202;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.textos-div{}

.contido{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 3px solid #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.mini-contido{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 3px solid #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

.mini-contido:hover{
    width: 60px;
    height: 60px;
    background-color: purple;
}

.contido:hover{
    width: 110px;
    height: 110px;
    background-color: purple;
}


th, td{
    border: 1px solid;
}

th{
    text-align: center;
}

table{
    display: flex;
    justify-content: center;
    
}

#jc-fs{
    justify-content: flex-start;
}

#jc-fe{
    justify-content: flex-end;
}

#jc-sb{
    justify-content: space-between;
}

#jc-sa{
    justify-content: space-around;
}

#jc-se{
    justify-content: space-evenly;
}