/* (Mini) reset do Css do navegador para evitar conflito de estilos entre navegadores */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: initial;
    font-weight: 400;
    text-align: initial;
} */

th, td{
    border: 1px solid;
}

th{
    text-align: center;
}

table{
    display: flex;
    justify-content: center;
}

.mini-container{
    height: 75px;
    width: 310px;
    background-color: antiquewhite;
    border: 5px solid #fc0202;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.exemplos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.textos-div{
    display: flex;
    flex-flow: row wrap;
    

}

.mini-container div {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 3px solid #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.mini-container div:hover{
    width: 60px;
    height: 60px;
    background-color: purple;
}

#jc-fs{
    justify-content: flex-start;
}

#jc-fe{
    justify-content: flex-end;
}

#jc-sb{
    justify-content: space-between;
}

#jc-sa{
    justify-content: space-around;
}

#jc-se{
    justify-content: space-evenly;
}

#fd-column{
    flex-direction: column;
    height: 210px;
}

#fd-row-r{
    flex-direction: row-reverse;
}
#fd-column-r{
    flex-direction: column-reverse;
    height: 210px;
}

#ai-FS{
    align-items: flex-start;
}
#ai-FE{
    align-items: flex-end;
}
#ai-ST{
    align-items: stretch;
}
#ai-BL{
    align-items: baseline;
}

#fw-W{
    height: 115px;
}

#fw-NW{
    flex-wrap: nowrap;
    height: 115px;
}
#fw-WR{
    flex-wrap: wrap-reverse;
    height: 115px;
}

#ac-FS{
    align-content: flex-start;
}

#ac-FE{
    align-content: flex-end;
}

#ac-SB{
    align-content: space-between;
    height: 165px;
    flex-direction: row;
}

#ac-SA{
    align-content: space-around;
    height: 165px;
    flex-direction: row;
}

#ac-SE{
    align-content: space-evenly;
    height: 165px;
    flex-direction: row;
}

#ac-mg div{
    /* margin: 2px 15px; */
    
}