/* (Mini) reset do Css do navegador para evitar conflito de estilos entre navegadores */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: initial;
    font-weight: 400;
    text-align: initial;
} */

th, td{
    border: 1px solid;
}

th{
    text-align: center;
}

table{
    display: flex;
    justify-content: center;
}

body{
    background-color: #191717;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.mini-container{
    height: 100px;
    width: 310px;
    background-color:#7D7C7C;
    border: 5px solid #CCC8AA;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}    

.mae{
    display: flex;
    justify-content: center;
    width: min-content;
    gap: 20px;
    padding: 10px;
    text-align: center;
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
}

.exemplos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

details{
    padding: 20px 0;
}

.textos-div{
    display: flex;
    flex-flow: row wrap;
}

.mini-container div {
    width: 50px;
    height: 50px;
    background-color:#7D7C7C;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.mini-container div:hover{
    width: 60px;
    height: 60px;
    background-color: white;
    color: #191717;
}

#jc-fs{
    justify-content: flex-start;
}

#jc-fe{
    justify-content: flex-end;
}

#jc-sb{
    justify-content: space-between;
}

#jc-sa{
    justify-content: space-around;
}

#jc-se{
    justify-content: space-evenly;
}

#fd-column{
    flex-direction: column;
    height: 210px;
}

#fd-row-r{
    flex-direction: row-reverse;
}
#fd-column-r{
    flex-direction: column-reverse;
    height: 210px;
}

#ai-FS{
    align-items: flex-start;
}
#ai-FE{
    align-items: flex-end;
}

#ai-ST div, #ai-BL div{
    height: auto;
}

#ai-BL div{
    width: 80px;
}

#ai-ST{
    align-items: stretch;
}

#ai-BL{
    align-items: baseline;
    height: 200px;
}

#fw-W{
    height: 130px;
}

#fw-NW{
    flex-wrap: nowrap;
    height: 130px;
}
#fw-WR{
    flex-wrap: wrap-reverse;
    height: 130px;
}

#ff{
    flex-flow: row-reverse wrap-reverse;
    height: 130px;
}

#ac-FS{
    align-content: flex-start;
}

#ac-FE{
    align-content: flex-end;
}

#ac-SB{
    align-content: space-between;
    height: 165px;
    flex-direction: row;
}

#ac-SA{
    align-content: space-around;
    height: 165px;
    flex-direction: row;
}

#ac-SE{
    align-content: space-evenly;
    height: 165px;
    flex-direction: row;
}